<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<% if(nav===true){%>
  <div class="bg-zinc-200 px-10 py-3 flex justify-between w-full items-center capitalize font-semibold ">
    <h3>Pinterest</h3>
    <div class="flex gap-8 items-center font-semibold">
      <a href="/profile">Profile</a><a href="/feed">Feed</a><a href="/logout" class="px-3 py-1 bg-red-700 text-white font-medium rounded-md">Logout</a>
    </div>
  <%}%>
  </div>